.login-page-background {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/login/loginbackf.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}